{% extends "layout.html" %}

{% block title %}
    Secrets Generator
{% endblock %}

{% block main %}
    <div class="row row-cols-1 col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <h1 class="col fw-bold text-center mx-auto">Secrets Generator</h1>
        <p class="col fs-6 fw-light text-center mx-auto">Here you can generate new passwords in order to use it for your account.</p>
    <div class="col mt-5">
        <h3 class="fw-bold text-start">
            Choose the type of characters that you want the Password to include:
        </h3>
        <p class="fs-6 fw-light text-start">(More Character Types Makes STRONGER Passwords)</p>
    </div>
    </div>
    <div class="row row-cols-1 col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <form name="pass-gen" id="pass-gen" action="/passwordGenerator" method="post">
            <div class="col mb-5 px-2 px-sm-5">
                <input class="" name="upper" id="upper" type="checkbox" value="upper" checked/>
                <label class="text-start fs-6" for="upper">
                    Uppercase Letters
                </label><br/>
                <input name="lower" id="lower" type="checkbox" value="lower" checked/>
                <label class="text-start fs-6" for="lower">
                    Lowercase Letters
                </label><br/>
                <input name="nums" id="nums" type="checkbox" value="nums" checked/>
                <label class="text-start fs-6" for="nums">
                    Numbers
                </label><br/>
                <input name="puncs" id="puncs" type="checkbox" value="puncs" checked/>
                <label class="text-start fs-6" for="puncs">
                    Punctuation
                </label><br/>
            </div>
            <div class="col text-center mb-5">
                <button class="btn btn-dark mx-auto fs-5" type="submit" form="pass-gen">
                    Generate Secret
                </button>
            </div>
        </form>
    </div>
    <div class="row row-cols-1 col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mb-5 px-2 px-sm-5">
        <form name="save-pass" id="save-pass" action="/save-password" method="post">
            <div class="col text-center mb-4">
                <input class="form-control-plaintext border border-1 border-dark rounded text-center mx-auto fs-6" name="gen-pass" id="gen-pass" type="text" value="Secret will apear here." aria-label="Generated Password" readonly />
            </div>
            <div class="row g-3 mx-auto text-center justify-content-between">
                <input class="col-12 col-sm-7 mx-auto mx-sm-0 rounded ps-2 fs-6" name="gen-pass-name" id="gen-pass-name" type="text" placeholder="Descriptive Name" />
                <button class="col-auto col-sm-4 mx-auto mx-sm-0 btn btn-dark fs-6" type="submit" form="save-pass">Save Secret</button>
            </div>
    </form>
</div>
{% endblock %}
