{% extends "layout.html" %}

{% block title %}Secrets Generator{% endblock %}

{% block main %}
    <div class="row row-cols-1 col-12 col-md-10 col-lg-8 mx-auto">
        <h1 class="col fw-bold text-center mx-auto">Secrets Generator</h1>
        <p class="col fs-6 fw-light text-center mx-auto">Here you can generate new passwords in order to use it for your account.</p>
        <div class="col mt-5">
            <h3 class="fw-bold text-start">
                Choose the type of characters that you want the Password to include:
            </h3>
            <p class="fs-6 fw-light text-start">(More Character Types Makes STRONGER Passwords)</p>
        </div>
    </div>
    <div class="row row-cols-1 col-12 col-md-10 col-lg-8 mx-auto">
        <form name="pass-gen-form" id="pass-gen-form" action="/secretGenerator" method="post">
            <div class="col mb-5 px-2 px-sm-5">
                <input class="" name="upper" id="upper" type="checkbox" value="upper" checked/>
                <label class="text-start fs-5" for="upper">
                    Uppercase Letters
                </label><br/>
                <input name="lower" id="lower" type="checkbox" value="lower" checked/>
                <label class="text-start fs-5" for="lower">
                    Lowercase Letters
                </label><br/>
                <input name="nums" id="nums" type="checkbox" value="nums" checked/>
                <label class="text-start fs-5" for="nums">
                    Numbers
                </label><br/>
                <input name="puncs" id="puncs" type="checkbox" value="puncs" checked/>
                <label class="text-start fs-5" for="puncs">
                    Punctuation
                </label><br/>
            </div>
    <div class="col mt-5">
        <h3 class="fw-bold text-start">Choose the length of the password</h3>
        <p class="fs-6 fw-light text-start">
            <span class="fw-bold">NOTE:</span><br/>
                - Numbers only passwords up to 12 characters.<br/>
                - Any other types up to 32 characters.
        </p>
        <div class="col mb-5 px-2 px-sm-5">
            <div class="row row g-3 mx-auto text-center justify-content-between">
                <input class="col-12 col-sm-9 mx-auto mx-sm-0 ps-2 fs-5" name="pass-len" id="pass-len" type="range" min="4" max="32" step="1" value="8" />
                <input class="col-4 col-sm-2 mx-auto mx-sm-0 fs-5 text-center" name="pass-len-val" id="pass-len-val" type="text" value="8" />
            </div>
        </div>
    </div>
            <div class="col text-center my-5">
                <button class="btn btn-dark mx-auto fs-4" id="pass-gen-btn" type="submit" form="pass-gen-form">
                    Generate Secret
                </button>
            </div>
        </form>
    </div>
    <div class="row row-cols-1 col-12 col-md-10 col-lg-8 mx-auto mb-5 px-2 px-sm-5">
        <form name="pass-save-form" id="pass-save-form" action="/saveSecret" method="post">
            <div class="col text-center mb-4">
                <input class="form-control-plaintext border border-1 border-secondary rounded text-center mx-auto fs-5" name="gen-pass" id="gen-pass" type="text" value="Secret will apear here." aria-label="Generated Password" readonly />
            </div>
            <div class="row g-3 mx-auto text-center justify-content-between mb-4">
                <input class="col-12 col-sm-7 mx-auto mx-sm-0 rounded ps-2 fs-5 lh-lg" name="pass-gen-name" id="pass-gen-name" type="text" placeholder="Descriptive Name" autocomplete="off" spellcheck="false" />
                <button class="col-auto col-sm-4 mx-auto mx-sm-0 btn btn-dark fs-5" id="pass-save-btn" type="submit" form="pass-save-form">Save Secret</button>
            </div>
            <div class="">
                <h5 class="fw-bold fs-6 text-start">Hints: </h5>
                <p class="col fs-6 fw-light">
                    - Give your password a good descriptive name in order to find it easily whenever you need it.<br/>
                    - After saving it, make sure that you can find this new password in your secrets page before using it.
                </p>
            </div>
    </form>
</div>
{% endblock %}
