{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form name="login" id="login" action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-50 text-center" id="username" name="username" placeholder="username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-50 text-center" id="password" name="password" placeholder="password" type="password">
        </div>
        <button class="btn btn-dark" type="submit" form="login">Log In</button>
    </form>
{% endblock %}
