{% extends "layout.html" %}

{% block title %}Password{% endblock %}

{% block main %}
    <div class="row row-cols-1 col-8 col-md-6 col-lg-4 mx-auto text-center">
        <form name="change-password" id="change-password" action="/password" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Current Password" type="password" autofocus autocomplete="off" />
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="new-password" name="new-password" placeholder="New Password" type="password" autocomplete="off" />
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirm-new-pass" name="confirm-new-pass" placeholder="Confirm New Password" type="password" autocomplete="off" />
            </div>
            <button class="btn btn-dark" type="submit" form="change-password">Submit</button>
        </form>
    </div>
{% endblock %}
