
{% extends "layout.html" %}

{% block title %}Registeration{% endblock %}

{% block main %}
    <div class="row row-cols-1 col-12 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
        <form id="registeration" name="registeration" action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto" id="username" name="username" placeholder="Username" type="text" aria-label="Username" spellcheck="false">
            </div>
            <div class="input-group mb-3">
                <input class="form-control mx-auto" id="password" name="password" placeholder="Password" type="password" aria-label="Password">
                <span class="input-group-text bg-white">
                    <i class="bi bi-eye-fill"></i>
                </span>
            </div>
            <div class="input-group text-center mb-3">
                <input class="form-control mx-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" aria-label="Password">
                <span class="input-group-text bg-white">
                    <i class="bi bi-eye-fill"></i>
                </span>
            </div>
            <button class="btn btn-dark" type="submit" form="registeration">Submit</button>
        </form>
    </div>
{% endblock %}

