
{% extends "layout.html" %}

{% block title %}
    Registeration
{% endblock %}

{% block main %}
    <div class="row row-cols-1 col-8 col-md-6 col-lg-4 mx-auto text-center">
        <form id="registeration" name="registeration" action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto text-center" id="username" name="username" placeholder="Username" type="text" aria-label="Username">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto text-center" id="password" name="password" placeholder="Password" type="password" aria-label="Password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto text-center" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" aria-label="Password">
            </div>
            <button class="btn btn-dark" type="submit" form="registeration">Submit</button>
        </form>
    </div>
{% endblock %}

